{% extends 'base.html.twig' %}



{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Telephone</th>
                <th>Operateur</th>
                <th>Code_secret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for api in apis %}
            <tr>
                <td>{{ api.id }}</td>
                <td>{{ api.montant }}</td>
                <td>{{ api.telephone }}</td>
                <td>{{ api.operateur }}</td>
                <td>{{ api.codeSecret }}</td>
                <td>
                    <a href="{{ path('app_api_show', {'id': api.id}) }}">show</a>
                    <a href="{{ path('app_api_edit', {'id': api.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_api_new') }}">Create new</a>
{% endblock %}
